body{
	background:;
	padding: 0px;
	margin:0px;
	background-image: url("testimonial-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

*{
	font-family:verdana;
	font-size:;
	font-weight:bolder;
}

.head{
	margin-left:100px;
	color: rgba(245, 107, 8,1);
}

.main{
	border:2px solid rgba(245, 107, 8,1);
	width: 40%;
	margin:auto;
	padding:0px;
	border-radius: 10px;
}

.khaps{
	width: 250px;
	height: 200px;

}


.submit{
	width:80%;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 10px;
	margin-left: 45px;
}

input{
	margin-left:;
	outline: none;
	background:none;
	border: none;
	border-bottom:;
	color: rgba(245, 107, 8,1);
}

form{
	margin-left:10px;
	color:#3de828;
}

input:hover{
	border-bottom:4px solid rgba(245, 107, 8,1);
}

